.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;

  h2[mat-dialog-title] {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.notes-content {
  white-space: pre-wrap; // Respeita as quebras de linha e espaços do texto
  line-height: 1.6;
  opacity: 0.9;
}